h1 {
    text-align: center;
    padding: 3%;
}

h3 {
    text-align: center;
    margin-bottom: 7%;
}

.header1 {
    margin-top: 2%;
    font-weight: normal;
    letter-spacing: 5px;
}

.header2 {
    font-weight: lighter;
    letter-spacing: 3px;
}